.form-cont{
    margin:4rem 6rem;
    color:black;
}
.form-cont form{
    padding-top:3rem;
    display:flex;
    flex-direction: column;
    width:50%;
    margin:auto;

}
.form-cont h1{
     margin-left:320px; 
    /* margin: center; */
    
}
.form-cont input{
    height:3rem;
    padding:0 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border:1px solid black;

}
.form-cont textarea{
    height:3rem;
    padding:1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border:1px solid black;

}
.form-cont button{
    display:inline;

}
@media screen and(max-width:850px)
{
    .form-cont{
        margin:4rem 2rem;
        color:black;
    } 
    .form-cont form{
        padding-top:2rem;  
        width:90%;
    }
}
