.me{
    background-color:darkgray ; 
    color:#ffffff;  
    font-family: 'Raleway',sans-serif;
    padding-top: 60px;
}

.contact_form .form-control
{
    padding: 1.375rem .75rem;
    line-height: 1.5;
      color:#ffffff; 
      background-color:black;  
    border-radius: 0 !important;
    border: 1px solid #fff;
}

.contact_form input.form-control
{
    margin-bottom: 2rem;
    height: calc(2.5rem +.75rem + 2px);
}

.btn
{
    color:rgb(216, 138, 138);
    border: 0px  white;
    display: inline;
}

.btn:hover
{
color: white;
}