

  .ut {
    display: inline-block;
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;;
    background-color:rebeccapurple;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    width:20%;
    margin-left: 50%;
   
  }
  
  .ut:hover {background-color:royalblue}
  